---
import { Image } from "astro:assets";

import imgBgStacks from "../assets/bg-stacks.png";
import imgNoImage from "../assets/no-image.png";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to My Site.">
  <section class="banner bg-gradient-seagreen py-80 px-3">
    <div class="container">
      <h1 class="fs-6 fw-normal mb-50">
        Hello, my name is
        <span class="banner-highlight-text d-block fw-semibold py-2">
          Addin Cendekia Wahid,
        </span>
        the author of this site.
      </h1>

      <p class="mb-50">
        Im a <span class="d-block fw-semibold fs-1">Software Engineer</span>
      </p>

      <p>Have something to discuss? lets see if i can help that</p>
      <button class="btn btn-lg btn-gradient-pearlgreen rounded-pill">
        <i class="bi bi-envelope me-1"></i> Send me a message
      </button>
    </div>
  </section>

  <!-- experiences -->
  <section class="experience py-80">
    <div class="experience-content container">
      <h2 class="underline underline-center">
        Experience Working on Various Application
      </h2>
      <p class="mb-50">
        My expertise spans e-commerce and beyond, with a diverse portfolio that
        includes company profiles, news portals, school management systems,
        custom ERP and HRIS solutions, and even mobile apps.
      </p>

      <div class="statistics d-flex justify-content-center">
        <div class="statistic">
          <div class="label">7+</div>
          Year of Experiences
        </div>
        <div class="statistic">
          <div class="label">45+</div>
          Projects Involved and Developed
        </div>
        <div class="statistic">
          <div class="label">35+</div>
          Stakeholder Involved
        </div>
      </div>
    </div>

    <Image
      class="experience-bg"
      src={imgBgStacks}
      width="1440"
      height="316"
      alt="experience tech stacks"
    />
  </section>

  <!-- projects -->
  <section class="project">
    <div class="container py-80">
      <div class="row">
        <div class="project-description col-lg-6 pb-5 pb-lg-0">
          <h2 class="mb-30">All Creative Works, Selected Projects</h2>
          <p>
            I showcase my journey through each project, highlighting the tools
            and technologies that brought my ideas to life.
          </p>
          <a
            href="/projects.html"
            class="link-primary link-offset-3 text-capitalize"
          >
            see another projects <i class="bi bi-arrow-right-short ms-1"></i>
          </a>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-6">
              <div class="card project-card mb-4">
                <Image
                  alt="project thumbnail"
                  class="card-img-bg"
                  src={imgNoImage}
                />
                <div class="card-body bg-success">
                  <h3 class="card-title">
                    <a href="/project-detail.html" class="link">
                      Project Title
                    </a>
                  </h3>
                </div>
              </div>

              <div class="card project-card">
                <Image
                  alt="project thumbnail"
                  class="card-img-bg"
                  src={imgNoImage}
                />
                <div class="card-body bg-success">
                  <h3 class="card-title">
                    <a href="/project-detail.html" class="link">
                      Project Title
                    </a>
                  </h3>
                </div>
              </div>
            </div>
            <div class="col-6 pt-5">
              <div class="card project-card mb-4">
                <Image
                  alt="project thumbnail"
                  class="card-img-bg"
                  src={imgNoImage}
                />
                <div class="card-body bg-success">
                  <h3 class="card-title">
                    <a href="/project-detail.html" class="link">
                      Project Title
                    </a>
                  </h3>
                </div>
              </div>

              <div class="card project-card">
                <Image
                  alt="project thumbnail"
                  class="card-img-bg"
                  src={imgNoImage}
                />
                <div class="card-body bg-success">
                  <h3 class="card-title">
                    <a href="/project-detail.html" class="link">
                      Project Title
                    </a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- articles -->
  <section class="py-80">
    <div class="container">
      <h2 class="underline">Latest Articles</h2>

      <div class="row mb-50">
        <div class="col-lg-4 py-3">
          <div class="card article-card">
            <Image
              alt="article thumbnail"
              class="card-img-top"
              src={imgNoImage}
            />
            <div class="card-body">
              <h3 class="card-title">
                <a href="/article-detail.html" class="link link-primary">
                  Article Title
                </a>
              </h3>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content. Some quick example text to build
                on the card title and make up the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 py-3">
          <div class="card article-card">
            <Image
              alt="article thumbnail"
              class="card-img-top"
              src={imgNoImage}
            />
            <div class="card-body">
              <h3 class="card-title">
                <a href="/article-detail.html" class="link link-primary">
                  Article Title
                </a>
              </h3>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content. Some quick example text to build
                on the card title and make up the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 py-3">
          <div class="card article-card">
            <Image
              alt="article thumbnail"
              class="card-img-top"
              src={imgNoImage}
            />
            <div class="card-body">
              <h3 class="card-title">
                <a href="/article-detail.html" class="link link-primary">
                  Article Title
                </a>
              </h3>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 py-3">
          <div class="card article-card">
            <Image
              alt="article thumbnail"
              class="card-img-top"
              src={imgNoImage}
            />
            <div class="card-body">
              <h3 class="card-title">
                <a href="/article-detail.html" class="link link-primary">
                  Article Title
                </a>
              </h3>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content. Some quick example text to build
                on the card title and make up the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 py-3">
          <div class="card article-card">
            <Image
              alt="article thumbnail"
              class="card-img-top"
              src={imgNoImage}
            />
            <div class="card-body">
              <h3 class="card-title">
                <a href="/article-detail.html" class="link link-primary">
                  Article Title
                </a>
              </h3>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content. Some quick example text to build
                on the card title and make up the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 py-3">
          <div class="card article-card">
            <Image
              alt="article thumbnail"
              class="card-img-top"
              src={imgNoImage}
            />
            <div class="card-body">
              <h3 class="card-title">
                <a href="/article-detail.html" class="link link-primary">
                  Article Title
                </a>
              </h3>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <a
          href="/articles.html"
          class="link-primary link-offset-3 text-capitalize"
        >
          see another articles <i class="bi bi-arrow-right-short ms-1"></i>
        </a>
      </div>
    </div>
  </section>
</Layout>
